<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Bookmark</h3>
    <button type="button" class="close"  aria-hidden="true" ng-click="bookmarkCancel();">&times;</button>
</div>
<div class="modal-body" id="modal-body">
    <form id="savebookmark_form" name="savebookmark_form">
        <div class="form-group">
            <div class="pull-left" ng-if="savebookmarkSuccess==1">
                <span class="label label-success" >Thank You.</span>
            </div>
            <input type="text" class="form-control savebookmarktext" id="savebookmark"  name="savebookmark" placeholder="Enter Name" ng-model="user.savebookmark" required>
            <div class="pull-right" ng-repeat="(field,value) in savebookmark_form.savebookmark.$error" ng-show="savebookmark_form.savebookmark.$touched">
                <span class="label label-danger" ng-if="value">Please Enter Name</span>
            </div>
            
            
            <div class="pull-right"  ng-if="savebookmarkerror==-1">
                <span class="label label-danger">Please Enter Name</span>
            </div>
            
            <input class="form-control" id='savebookmarksubmit' type="submit" name="savebookmarksubmit" ng-disabled="savebookmark_form.$invalid"  class="btn btn-primary btn-lg btn-block" value="Submit" ng-click="saveBookmark(user.savebookmark);">
        </div>
    </form>
</div>
<div class="modal-footer hidden">
    <button class="btn btn-primary" type="button" ng-click="">OK</button>
    <button class="btn btn-warning" type="button" ng-click="">Cancel</button>
</div>