<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Bookmark</h3>
    <button type="button" class="close"  aria-hidden="true" ng-click="selectbookmarkCancel();">&times;</button>
</div>
<div class="modal-body" id="modal-body">
    <form id="selectbookmark_form" name="selectbookmark_form">
        <div class="form-group">
            <div class="pull-left" ng-if="selectbookmarkSuccess==1">
                <span class="label label-success" >Thank You.</span>
            </div>
            <!-- <div ng-repeat="i in items">
                {{i.name}}
            </div> -->
            <!-- <select class="form-control selectbookmark_list" id="selectbookmark_list" >

            </select> -->
            <select id="selectbookmark_list" name="selectbookmark_list"  ng-options="cat as cat.name for cat in items" ng-model="user.selectbookmark" class="form-control"  required>
                                    
            </select>
            <div class="pull-right" ng-repeat="(field,value) in selectbookmark_form.selectbookmark.$error" ng-show="selectbookmark_form.selectbookmark.$touched">
                <span class="label label-danger" ng-if="value">Please Select</span>
            </div>
            
            
            <div class="pull-right"  ng-if="selectbookmarkerror==-1">
                <span class="label label-danger">Please Select</span>
            </div>
            
            <input class="form-control" id='selectbookmarksubmit' type="submit" name="selectbookmarksubmit" ng-disabled="selectbookmark_form.$invalid"  class="btn btn-primary btn-lg btn-block" value="Submit" ng-click="getBookmark(user.selectbookmark);">
        </div>
    </form>
</div>
<div class="modal-footer hidden">
    <button class="btn btn-primary" type="button" ng-click="">OK</button>
    <button class="btn btn-warning" type="button" ng-click="">Cancel</button>
</div>